@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@media print {
    html, body {
    height: 297mm;
    width: 210mm;
    margin: 0;
    padding: 0;
    }
    
    .container {
    width: 210mm;
    height: 99.06mm;
    margin: 0 auto;
    display: none;
    }
    
    .voucher-copy {
    display: block;
    margin-bottom: 5mm;
    }
    }
    .voucher-copy:not(:last-child) {
        margin-bottom: 5mm;
        }

        


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid #333;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container img{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    width: 25%;
    width: calc(100% / 3);
}
/* .tres-filas .container {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: calc(100% / 3);
    box-sizing: border-box;
    padding: 20px;
    height: 300px;
  } */

h1{
    padding-top: 20px;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: 900; */
    text-transform: uppercase;
 
 }

  table td {
    
    border: 1px solid black;
    border-collapse: collapse;
    text-transform: uppercase;
    color: white;
    
  }

  table th{
    text-align: left;
    text-transform: uppercase;
  }

 
table{
    width: 100%;
    /* margin: 30px 10px; */
}
.a{
    padding-top: 20px;
}

.c{
    padding-bottom: 7px;
}
.e th{
    text-align: center;
    padding-top: 7px;
}
.name{
    width: 80%;
    
    
}
.dni{
    /* width: 33%; */
    
}
.hotelName{
    /* width: 50%; */
    color: #333;
    text-align: center;
    font-weight: bold;
    width: 70%;
}

.in{
    width: 35%;
}
.out{
    width: 35%;
}